
/*define the top menubar style*/
.navbar{
    background-color:rgb(31, 114, 170);
    overflow: hidden;
}

.navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.navbar a:hover{
    background-color: rgb(233, 231, 97);
}
/*end of navi bar*/

body{
    background-color: white;
    font-family: sans-serif;
}


h1{
    color: green;
    margin-left: 20px;
}

.obj ul{
    list-style-type: square;
}


/* set table appearance*/
.time table, .time th, .time td {
    background-color:rgb(31, 114, 170);
    border: 2px solid black;
}

.grade table, .grade th, .grade td{
    border: 1px solid black;
}

td {
    padding: 15px;
}